/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-dic-2013, 18.46.22
    Author     : francesco
*/

@import url(http://fonts.googleapis.com/css?family=Pacifico);

body {
    font-size: 18px;
}

a, a:hover {
    color: #82c1a9;
}

label {
    font-weight: normal
}

.alert {
    margin-top: 20px
}

/* top navbar */
.navbar-custom {
    border-color: #7a5b7f;
}

.nav>li>a:hover {
    background-color: #7a5b7f;
}

.icon-bar {
    background-color: #333
}

.nav-app-name {
    font-family: 'Pacifico', cursive;
    color: whitesmoke;
}

.nav-app-name:hover {
    font-family: 'Pacifico', cursive;
    color: #82c1a9;
    text-decoration: none;
}

/* avatar */
.avatar {
    margin:0 auto; width:100px; height:100px
}

.avatar-small {
    margin-top: 5px; width: 40px; height:40px
}

.main {
    margin-top: 50px
}

.index-header {
    background-image: url('../images/bg.JPG');
    background-size: cover;
}

.app-name {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    margin-top: 30%;
    text-shadow: 2px 2px 5px #000;
}

/* util */
.center {
    margin: 0 auto;
    text-align: center;
}

/* margin for icons */
.m-r {
    margin-right: 10px;
}

.m-l {
    margin-left: 10px;
}

/* section and box */
.section {
    padding: 20px;
    min-height: 50px;
    width: 100%;
}

.box-i {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin: 40px auto;
}

.box-f {
    padding: 15px;
    margin: 0px 10px 0px 10px;
}

.box {
    display: block;
    padding: 15px;
    background-color: #ebebeb;
    margin: 10px 0px 10px 0px;
}

.files_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.files_list > li {
    margin: 0 10px 0 0;
    float: left
}

/* box info gruppo files e members */
#files-toggle, #members-toggle {
    display: none
}

p>a.white:hover {
    color:white
}

/* colors */
.green { 
    color: #82c1a9;
}

.green-bg {
    background-color: #82c1a9;
}

.green-h {
    color: #629b85;
}

.purple { 
    color: #4b394e;
}

.purple-bg { 
    background-color: #4b394e;
}

.purple-h {
    background-color: #7a5b7f;
}

.gray { 
    color: #ebebeb;
}

.gray-bg {
    background-color: #ebebeb;
}

.white {
    color: #fff;
}

/* buttons */
.btn-wine {
    color: #fff;
    background-color: #4b394e  
}

.btn-wine:hover {
    color: #fff;
    background-color: #7a5b7f;
}

.btn-green {
    color: #fff;
    background-color: #82c1a9;
}

.btn-green:hover {
    color: #fff;
    background-color: #629b85;
}
