/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-dic-2013, 18.46.22
    Author     : francesco
*/

@import url(http://fonts.googleapis.com/css?family=Pacifico);

body {
    font-size: 18px;
}

label {
    font-weight: normal
}

.app-name {
    font-family: 'Pacifico', cursive;
    font-size: 3em;
}

.section {
    padding: 40px;
    min-height: 200px;
    width: 100%;
}

.center {
    margin: 0 auto;
    text-align: center;
}

/* colors */
.green { 
    color: #82c1a9;
}

.green-bg {
    background-color: #82c1a9;
}

.green-h {
    color: #629b85;
}

.purple { 
    color: #4b394e;
}

.purple-bg { 
    background-color: #4b394e;
}

.purple-h {
    background-color: #7a5b7f;
}

.gray { 
    color: #ebebeb;
}

.gray-bg {
    background-color: #ebebeb;
}

.white {
    color: #fff;
}

.box {
    width: 600px;
    display: block;
    padding: 10px;
    background-color: #ddd;
    margin: 10px;
}

/* buttons */
.btn-wine {
    color: #fff;
    background-color: #4b394e  
}

.btn-wine:hover {
    color: #fff;
    background-color: #7a5b7f;
}

.btn-green {
    color: #fff;
    background-color: #82c1a9;
}

.btn-green:hover {
    color: #fff;
    background-color: #629b85;
}
