/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-dic-2013, 18.46.22
    Author     : francesco
*/



.green { 
    background-color: #82c1a9
}

.green-h {
    background-color: #629b85
}

.purple { 
    background-color: #4b394e
}

.purple-h {
    background-color: #7a5b7f
}

.gray { 
    background-color: #ebebeb
}

.box {
    width: 600px;
    display: block;
    padding: 10px;
    background-color: #ddd;
    margin: 10px;
}