<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:mysql://localhost:3306/secondoprogettoweb</param-value>
    </context-param>
    <filter>
        <filter-name>SecureFilter</filter-name>
        <filter-class>com.deadormi.filter.SecureFilter</filter-class>
    </filter>
    <filter>
        <filter-name>FileFilter</filter-name>
        <filter-class>com.deadormi.filter.FileFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecureFilter</filter-name>
        <url-pattern>/secure/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FileFilter</filter-name>
        <url-pattern>/resource/files/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>listener</description>
        <listener-class>com.deadormi.dbmanager.WebAppContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.deadormi.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationService</servlet-name>
        <servlet-class>com.deadormi.servlet.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.deadormi.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupsServlet</servlet-name>
        <servlet-class>com.deadormi.servlet.GroupsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewGroupServlet</servlet-name>
        <servlet-class>com.deadormi.servlet.NewGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowGruppoServlet</servlet-name>
        <servlet-class>com.deadormi.servlet.ShowGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowGroupServlet</servlet-name>
        <servlet-class>com.deadormi.servlet.ShowGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InviteServlet</servlet-name>
        <servlet-class>com.deadormi.servlet.InviteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyGroupServlet</servlet-name>
        <servlet-class>com.deadormi.servlet.ModifyGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModeratorServlet</servlet-name>
        <servlet-class>com.deadormi.servlet.ModeratorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPostServlet</servlet-name>
        <servlet-class>com.deadormi.servlet.NewPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.deadormi.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>com.deadormi.servlet.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecoveryPasswordServlet</servlet-name>
        <servlet-class>com.deadormi.servlet.RecoveryPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordChangeServlet</servlet-name>
        <servlet-class>com.deadormi.servlet.PasswordChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptInviteServlet</servlet-name>
        <servlet-class>com.deadormi.servlet.AcceptInviteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloseGroupServlet</servlet-name>
        <servlet-class>com.deadormi.servlet.CloseGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationService</servlet-name>
        <url-pattern>/RegistrationService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupsServlet</servlet-name>
        <url-pattern>/GroupsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewGroupServlet</servlet-name>
        <url-pattern>/secure/NewGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowGroupServlet</servlet-name>
        <url-pattern>/ShowGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InviteServlet</servlet-name>
        <url-pattern>/secure/InviteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyGroupServlet</servlet-name>
        <url-pattern>/secure/ModifyGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModeratorServlet</servlet-name>
        <url-pattern>/secure/ModeratorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPostServlet</servlet-name>
        <url-pattern>/secure/NewPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/secure/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecoveryPasswordServlet</servlet-name>
        <url-pattern>/RecoveryPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordChangeServlet</servlet-name>
        <url-pattern>/PasswordChangeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptInviteServlet</servlet-name>
        <url-pattern>/AcceptInviteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloseGroupServlet</servlet-name>
        <url-pattern>/secure/CloseGroupServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
